<section class="text-center mb-5 py-5">
  <span class="bg-teal-20 rounded-pill text-teal px-4 py-2">
    ¿Necesitas ayuda?
  </span>
  <h3 class="text-black mt-2 mb-5">Título de la Sección</h3>

  <div class="d-flex justify-content-between align-items-center">
    <app-service img="assets/img/imgL1.PNG" title="Service 1"></app-service>
    <app-service img="assets/img/imgL2.PNG" title="Service 2"></app-service>
    <app-service img="assets/img/imgL3.PNG" title="Service 3"></app-service>
  </div>

  <figure class="d-flex justify-content-around align-items-center mt-3 mb-5">
    <img src="assets/img/flecha.PNG" alt="flecha" />
    <img src="assets/img/lapso.PNG" alt="lapso" />
    <img
      class="img-fluid rotation"
      src="assets/img/flecha.PNG"
      alt="fecla invertida"
    />
  </figure>

  <article class="m-auto">
    <h5 class="text-black mb-5">
      Lorem, ipsum dolor sit amet, consectetur adipisicing elit,Lorem, ipsum
      dolor sit amet, consectetur adipisicing elit
    </h5>
    <img class="img-fluid" src="assets/img/ovalo.PNG" alt="ovalo" />
    <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit</p>
  </article>
</section>
