<figure class="d-flex justify-content-end">
  <img
    src="assets/img/Captura.PNG"
    alt="image banner"
    class="col-xs-12 w-50 position-fixed end-0"
  />
</figure>

<section class="col-4 mt-5 position-absolute">
  <h1 class="text-black">Título</h1>
  <p class="mb-0">
    Contenido
    <a class="text-primary text-decoration-none fw-bold">more professional</a>
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis at
    molestiae unde delectus, voluptatum non ratione debitis iusto veritatis hic
    voluptatibus aut porro explicabo. Ea porro illum magnam minima sequi. Ea
    porro illum magnam minima sequi
  </p>
  <button class="btn btn-blue-20 px-4">
    <span class="text-primary fw-bold">Get Started</span>
  </button>
  <button type="button" class="btn btn-teal-20 rounded-circle ms-4 me-2">
    <span class="material-icons px-1 py-2 text-teal">play_arrow</span>
  </button>

  <span class="text-black"> Play video </span>
</section>
