<header class="px-10">
  <nav class="navbar navbar-expand pb-0">
    <div class="container-fluid justify-content-end pe-0">
      <div class="justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-muted" aria-current="page" href="#"
              >Opcion1</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" aria-current="page" href="#"
              >Contacts</a
            >
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-small">
              <span class="material-icons text-muted">search</span>
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-small">
              <span class="material-icons text-muted">shopping_cart</span>
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-small">
              <span class="material-icons text-muted">account_circle</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <app-navbar></app-navbar>
</header>
